.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    margin: auto;
}

header {
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: blue;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.content1 {
    display: flex;
    background-image: url(jumbo.png);
    background-size: contain;
    width: 100%;
    height: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

p {
    color: azure;
}

.botton {
    border: 5px;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 5px;
}

.box1 {
    width: 30%;
    height: 200px;
}

.container {
    display: flex;
    margin: auto;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-size: contain;
}

.testo {
    color: black;
}

.box3 {
    width: 20%;
}

.content3 {
    display: flex;
    background-color: grey;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box4 {
    width: 20%;
}




.content4 {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.box7 {
    width: 20%;
}

.nero {
    color: black;
}

.content5 {
    background-color: grey;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box8 {
    margin: auto;
    width: 70%;


}

.content6 {
    background-color: white;

}

.box9 {
    text-align: center;
    background-image: url(stars.svg);
}

.box10 {
    text-align: center;
    background-color: white;

}

.footer {
    background-color: black;
    width: 100%;
    
}

.logo2,.sezione-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    color: antiquewhite;
    margin: auto;
}